.container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  cursor: grab;
}

.container.panning {
  cursor: grabbing;
}

.container.draggingNode {
  cursor: grabbing;
}

.surface {
  position: absolute;
  inset: 0;
  transform-origin: 0 0;
  will-change: transform;
}

.emptyStateWrapper {
  opacity: 1;
  transition: opacity 500ms var(--ease-smooth);
}

.emptyStateWrapper.hidden {
  opacity: 0;
  pointer-events: none;
}
