.container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  cursor: grab;
}

.container.panning {
  cursor: grabbing;
}

.surface {
  position: absolute;
  inset: 0;
  transform-origin: 0 0;
  will-change: transform;
}
